@media (max-width: 1199.98px) {
    .product-widget_wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 991.98px) {
    .product-widget_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 767.98px) {
    .header-hotline{display: none;}
    .header-address{display: none;}
    .frame-fix .text-box{display: none;}
    .swiper_category .swiper-wrapper{
        overflow: initial;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        margin-right: -14px;
        margin-left: -14px;
        padding-left: 7px;
        padding-right: 7px;
        width: auto;
    }
    .swiper_category .swiper-wrapper .swiper-slide{
        padding-left: 7px;
        padding-right: 7px;
        -ms-flex: 0 0 35%;
        flex: 0 0 38%;
        max-width: 38%;
        min-width: 38%;
    }
    
    .slider-controls{display: none}
    .section-index .section-title h2{
        font-size: 2rem;
    }
    .product-slider .swiper-wrapper{
        overflow: initial;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        margin-right: -14px;
        margin-left: -14px;
        padding-left: 7px;
        padding-right: 7px;
        width: auto;
    }
    .product-slider .swiper-wrapper .swiper-slide{
        padding-left: 7px;
        padding-right: 7px;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
        min-width: 60%;
    }
    

}
@media (max-width: 575.98px) {
    .item_list-img a {
        width: 80px;
        height: 65px;
    }
}
@media (max-width: 768px){
    .intro-action{
        flex-direction: column;
        align-items: start;
    }
    .field-category-item__name a{
        font-size: .75rem;
    }
    .field-category-item__image{
        height: auto;
    }
    .section-fields{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (max-width: 426px) {
    .section-core-values{
        flex-direction: column;
    }
    .news-grid{
        grid-template-columns: 1fr !important;
    
    }
    .news-grid .news-grid-large .news-item{
        height: auto !important;
    }
    
    .news-grid .news-grid-small .news-item{
        height: auto !important;
    }

}